<!DOCTYPE html>
<html lang="en">
  <!-- head -->
  <%- include ./_inc/inc_header.ejs %>
  <!-- /head -->

  <body class="nav-md" style="background: white;">
    <div class="container body">
      <div class="main_container">
        <div class="row">
            <div class="col-md-12 col-lg-12" style="text-align: -webkit-center;">
                
                <pre style="padding: 8px; margin: 20px 70px 20px 70px;border: 1px solid grey; max-width: 1500px; text-align: left;">        <b>UMS用户协议</b>
                    本协议将于2019年6月1日生效。 欢迎注册为UMS会员！ 请务必认真仔细阅读本协议！ 本协议是您与UNIVERSAL MEMBER SERVICE CO., LTD （下称“UMS”，“我们”）签订的协议，
                    约束客户（以下也可以称为“您”）对UMS所有服务的使用。 此协议阐述了UMS 提供服务的准则，同时确认了会员在使用此服务时的权利和义务。在选择是否使用UMS服务时，
                    请务必认真仔细阅读本协议并确保了解相关条款准则。 创建UMS账户和（或）使用UMS服务即表明您接受本协议中的所有的条款和条件以及UMS官方网站上公布的相关协议，
                    包括隐私条款、合理使用条款、商户接入政策和反洗钱规则等。 UMS可以随时修订本协议，协议修订将通过在UMS网站上发布修订版本的方式进行。修订版将于我们在UMS网站发布时生效。
                    UMS所提供的服务是通过推荐会员至电子支付环球有限公司（Epay Global Limited）或其子公司或第三方其合作第三方平台（下称“Epay”）使用Epay所提供的服务。
                    通过点击UMS官网页面指定链接进入Epay服务平台，按Epay所指定程序登记为Epay用户并使用Epay服务。请注意当您通过UMS官网链接到Epay平台并登记为其用户后，
                    您同时是已经表明你接受使用Epay服务的所有有关协议中的所有的条款和条件以及Epay官方网站上公布的相关协议，包括隐私条款、合理使用条款、商户接入政策和反
                    洗钱规则等及Epay对该服务协议的一切修订、修改、更新。您个人需全权负责了解并遵守您所在司法辖区与通过UMS使用Epay服务相关的任何及所有法律、法规及规则。
                    所有交易一经完成即不可撤销或逆转，您必须审慎地进行交易决策。 在特定的交易类型中， 如果在您账户中收到的款项发生退单或因其他原因失效，付款可能会在其后被撤销。
                    这表明在您向付款人提供服务之后，付款有可能从您的账户中撤销（退款）。 如果（a）您违反本协议或您与UMS或Epay达成的任何其他协议， 或者（b）发生盗用、欺诈、
                    黑客攻击等我们认为可能有害于UMS或Epay及用户账户安全的事件时，我们可以单方面停止、暂停或限制您对账户或UMS或Epay服务的访问，并（或）通过Epay限制您对资金的使用。
                    
                    敬告您：
                    1. 您了解UMS仅作为推荐及提供链接至Epay的支付服务平台，本网站不参与您的任何交易、支付款项、提存款项，所有提、存款均是由您直接与Epay联系及操作。
                    UMS不是任何数字资产的发行机构也不会对任何数字货币的涨幅和破产或兑换等产生任何影响，对通过UMS链接使用Epay服务进行付款的产品或服务不具备任何控制权，
                    故您应自行谨慎判断确定相关数字资产及/或信息的真实性、合法性和有效性，并自行承担因此产生的责任与损失。如有任何疑问，您可以另聘专业人士咨询及寻求独立法律、财务意见。
                    2. 通过UMS官网链接至任何第三方平台，包括但不限于Epay的服务平台，而获得的任何意见、消息、探讨、分析、价格、建议和其他资讯，并不构成UMS的任何投
                    资建议。我们不承担任何因依赖该资讯直接或间接而产生的损失，包括但不限于任何利润损失。
                    3. UMS或任何其它第三方平台的内容会随时更改而UMS不作也不会为任何第三方平台另行通知，我们已采取合理措施确保网站资讯的准确性，但并不能保证其准确
                    性程度，亦不会承担任何因本网站上的资讯或因未能链结互联网、传送或接收任何通知和信息时的延误或失败而直接或间接产生的损失。
                    4. 使用互联网形式的交易系统亦存有风险，包括但不限于软件，硬件和互联网链结的失败等。由于UMS不能控制互联网的可靠性和可用性，UMS不会对失真，延误
                    、链结和链接失败而承担任何责任。
                    5.&nbsp;https://www.ums.hk为本网站唯一官方对外公布平台；
                    6. 禁止通过UMS使用Epay从事洗钱、走私、商业贿赂等一切非法交易活动或违法行为，若发现任何涉嫌非法交易或违法行为，本站将采取各种可使用之手段，
                    包括但不限于联合Epay冻结账户，通知相关权力机关等，UMS不承担由此产生的所有责任并保留向相关人士追究责任的权利。
                    7. 禁止通过UMS使用Epay进行恶意操纵市场、不正当交易等一切不道德交易活动，若发现此类事件，UMS将联合Epay将对所有恶意操纵价格、恶意影响交易系统
                    等不道德的行为采取警告、限制交易、关停账户等预防性地保护措施，UMS不承担由此产生的所有责任并保留向相关人士追究责任的权利。
                    8. 数字货币（加密货币）交易有极高风险，可能会存在数字资产市场因任何原因随时崩盘、数字货币破产或无法兑换等风险，您充分了解和理解此投资可能导致
                    部分或全部损失，所以您应慎重考虑并用清晰的判断力去评估自己的财政状况及上述各项风险而作出任何买卖数字货币的决定，并承担由此产生的全部损失，Epay对此不承担任何责任。
                    1. 通过UMS的Epay服务
                    1.1 通过UMS，Epay向会员提供支付服务。同时，为了帮助会员方便地使用支付服务，会员可以通过UMS使用Epay提供的一系列辅助功能如充值、提现和货币兑换等。&nbsp;
                    1.2 在通过UMS链接使用Epay服务时，您须知：
                    （i）UMS只是为会员推荐及提供链接至Epay的服务，UMS不会参与会员的任何交易；
                    （ii）UMS不是银行，会员于UMS的账户不受任何政府机构保护；
                    （iii）UMS不受银行相应法规监管；
                    （iv）您不能在UMS的账户存入或提取任何及款项，它不产生利息或其他收益。&nbsp;
                    （v）您只能通过UMS链接至Epay的账户进行支付及提存服务，你必须遵守Epay与您所定下的服务协议条款。UMS不会参与您与Epay的任何交易，也不会负责或承担您与Epay交易过程中所引起的任何损失。
                    （vi）对于通过UMS，Epay因代表您收取、持有、支付、兑换的资金、收支款项、提存款项而产生的任何利润、利息、费用、佣金、推荐费，您承诺与你无关，并放弃收取及向UMS及/或Epay追讨。
                    1.3 Epay服务的提供者包括Epay Global Limited及其子公司、附属公司、旗下服务机构及与Epay合作的第三方。
                    1.4会员分类 Epay用户可以是个人或企业。
                    2. 会员资格及身份识别
                    2.1您必须是成年人（18周岁或以上，具体根据您所在司法辖区的法定成年年龄而定）或企业。您必须在您的账户中列出正确的居住国家或地区，并确定您所属司法辖区的法律允许您从事相关交易。&nbsp;
                    2.2您必须是账户的实际拥有人，享有账户的实际权益并承担交易责任，您仅代表您自己进行交易。
                    2.3为了注册为UMS会员和使用UMS服务，您必须提供正确有效的信息。您授权UMS（直接或通过第三方）进行我们认为验证您的身份所必须的任何查询。这可能包括要求
                    您提供更多信息或文件、要求您提供身份证件号码、 要求您进行一些操作来确认您的邮箱地址或金融工具的所有权、要求查看您的信用报告或对照第三方数据库或通过其
                    他信息资源验证您的信息。 同时，您还授权UMS在以下情况下获取您的个人和（或）企业信用报告：
                    （a）资金额度受到有管辖权地法律法规的限制规定或者
                    （b）UMS有理由认为您的账户风险可能会增加时。
                    2.4如果您的身份证件有效期届满，应及时更换相关身份信息或我们可能会要求您重新提交有效的身份证件信息和文件。
                    2.5 经过审核，您可以成为UMS会员，并可经过我们推荐使用Epay服务。
                    2.6账户注销 UMS不会自行注销任何账户。 您可以主动申请注销您的会员账户，账户一经注销无法恢复，请您在操作前谨慎决策。 注销后，账户的所有数据将被清空，
                    但您仍需为您的过往交易承担责任。 在注销账户前，您应当清空账户里的资金； 否则您必须明确表示放弃账户资金。
                    3. 联系信息
                    3.1您可以选择通过电子邮件地址注册UMS会员并建立账户。另外，电子邮件地址也是UMS与您联系的主要方式，此电子邮件地址一经提交将不能修改，请您在注册时审慎
                    选择所使用的电子邮件地址。&nbsp;
                    3.2 您有责任保证您的联系方式正确有效，以便UMS可以与您沟通。您理解并同意，如因您所登记的邮箱地址不正确、已过期、被服务提供商阻止或者您无法接收电子信息
                    ，导致您未收到UMS发送的电子信息，则视为UMS已有效地向您提供该信息。 请注意，如果您使用垃圾邮件过滤器来阻止或转送不在您的电子邮件通讯录中的发件人所发送的电
                    子邮件，您必须将UMS添加到电子邮件通讯录中，以便能够查看UMS发送的信息。
                    4. 具体服务规则
                    您须知，
                    我们对您通过我们链接使用Epay服务进行付款或收款时均不具备任何控制权，也不对其负责。您必须自行解决收款、付款时可能或现实的争议，UMS作为推荐服务平台与该争议无关。&nbsp;
                    4.1 当你通过我们的链接使用Epay服务时，请按照及遵守Epay的有关规条、规定、办法。所有的有关规条、规定、办法的合法性、合理性均是您与Epay发生的关系，一概与UMS无关。
                    5. 交易限制
                    为了保护会员账户安全、尽力控制可能存在的信用和法律风险，UMS可能会对您的账户进行监控。。您知悉并同意UMS进行上述监控。 如果（a）您违反本协议或您与UMS达
                    成的任何其他协议，或者（b）发生盗用、欺诈、黑客攻击等我们认为可能有害于UMS及会员账户安全的事件时，我们可以单方面停止、暂停或限制您对账户或UMS服务的访问，
                    并（或）限制您对资金的使用。 您同意，UMS可以在未经事先通知您的情况下对您的账户进行任何其认为必要的限制。UMS为此进行认为的必要限制不承担任何损失赔偿责任。
                    6. 用户信息安全
                    6.1 信息使用
                    UMS收集会员信息的主要目的是为了向您提供安全、流畅、高效以及个性化的体验。我们可能会使用您的个人信息实现以下目的：
                    a. 提供UMS服务和会员服务，并向您发送推荐通知；&nbsp;
                    b. 验证您的身份，包括在账户创建和密码重置过程中的验证；
                    c. 解决争议、收取费用和解决疑难问题；&nbsp;
                    d. 管理风险，检测、预防和（或）修复欺诈或其他潜在的违禁或非法活动；
                    e. 检测、防止或纠正违反政策或用户协议的行为；&nbsp;
                    f. 通过个性化您的用户体验来改进UMS服务，评估UMS服务的表现并改进其内容和布局；&nbsp;
                    g. 管理和保护我们的信息技术基础设施；&nbsp;
                    6.2 信息存储 ：在世界各地我们公司所在之处，我们的计算机都会存储并处理您的个人信息。我们使用物理、技术和行政管理安全措施来保护您的信息，以降低丢失、
                    误用、非授权访问、披露和更改的风险。 以下是我们采取的一些保障措施：防火墙和数据加密、数据中心的物理访问控制以及信息访问授权控制。
                    6.3 当与他人通过UMS链接在Epay服务平台进行收、付款时，UMS可能会向对方提供所需的您的信息，例如您的名字、账号、联系详情和账单地址或其它促进完成服务安全性和可靠性所需的信息。
                    6.4 您也有责任保护自己的账户资料不被不当地泄露给他人。&nbsp;
                    6.5 您有责任保护密码。您同意，如发生密码遗失或密码误用，UMS不承担此类损失的所有赔偿责任。请您勿将自身密码泄露给任何人，亦勿使用别人的密码。
                    我们将视任何登陆用户账户的行为等同于会员自身操作。若您接受任何一方使用您的密码，我们将此等同于您的行为。&nbsp;
                    6.6 信息的收集 ： 平台收集的数据都是在会员知情并同意的情况下进行，所有的数据都是为了更好地提供服务的目的下进行收集，收录的信息数据都是与UMS服务相关的。
                    7. 会员禁止行为
                    7.1 在您使用我们的网站、您的账户、UMS服务，或者与UMS推荐的任何其他会员或第三方互动的过程中，不得出现以下情况：
                    a. 违反本协议或您与UMS达成一致的任何其他规则；
                    b. 违反任何法律、法规、法令或规定；&nbsp;
                    c. 侵犯UMS或任何第三方的版权、专利、商标、商业秘密或其他知识产权、肖像权或隐私权；
                    d. 诽谤、商业诋毁、威胁或骚扰我们的雇员、客服人员和或其他用户；&nbsp;
                    e. 提供虚假、不准确或误导性的信息；&nbsp;
                    f. 从事潜在的欺诈性或可疑活动和（或）行为；&nbsp;
                    g. 拒绝配合调查，或拒绝确认您向我们提供的身份信息或任何其他信息；&nbsp;
                    h. 信用报告机构对您的信用评分表明您对UMS服务的使用存在较高风险；&nbsp;
                    I. 未经会员明确同意，将其信息泄露或散布给第三方，或者将此信息用于营销目的；&nbsp;
                    j. 向用户发送垃圾邮件，或使用UMS服务来收取向第三方发送或协助向第三方发送垃圾邮件的付款；&nbsp;
                    k. 协助可能会损害、恶意干扰、秘密拦截或侵占任何系统、数据或信息的任何病毒、木马、蠕虫或其他计算机编程例程的传播；&nbsp;
                    l. 使用匿名代理；未经UMS事先书面同意，使用任何机器人、蜘蛛程序、其他自动设备或手动程序来监视或复制UMS网站；&nbsp;
                    m. 利用任何设备、软件或例行程序干扰或企图干扰UMS网站或服务；或者
                    n. 进行任何可能导致我们失去互联网服务提供商、付款处理商或其他供应商提供的服务的操作；
                    7.2 您要承担由于您违反本协议和（或）使用UMS服务而导致UMS、UMS会员或第三方提出的所有损失及其他责任。您同意就任何以及所有此类责任对UMS、UMS用户或第三方进行赔偿。
                    
                    8. 知识产权
                    8.1 “UMS.hk”，“UMS”以及与UMS服务相关的任何标识均为UMS及UMS的授权人所拥有的商标或注册商标，未经UMS事先书面同意，您不得复制、模仿、修改或使用这些标识。&nbsp;
                    8.2 所有页眉、定制图表、按键和脚本等均为UMS的服务标志、商标和（或）商业外观，未经UMS事先书面同意，您不得复制、模仿、修改或使用这些标识。
                    
                    9. 争议解决
                    如果您与UMS发生了争议，我们将尽力了解您的问题并加以解决；如果我们的处理无法让您满意，我们将向您提供公正而经济的方式来快速解决争议。 您与UMS之间关于UMS服务
                    的争议可以随时通过UMS网站（https://www.ums.hk）上记载的方式在线报告给客服，也可以在香港时间早上9点到晚上6点之间致电 +852 63973703报告给客服。
                    
                    10. UMS责任免除
                    10.1 UMS只为您推荐及提供提供链接至Epay的支付及相关服务。在任何情况下，UMS都是独立的服务商，非您或Epay的代理或分支/附属机构。 您了解并同意，在任何情况下，UMS不就以下各事项承担责任：
                    10.1.1 收入的损失；
                    10.1.2 交易利润或合同损失；
                    10.1.3 业务中断
                    10.1.4 预期可节省的货币的损失；
                    10.1.5 信息的损失；
                    10.1.6 机会、商誉或声誉的损失；
                    10.1.7 数据的损坏或损失；
                    10.1.8 服务的成本；
                    10.1.9 任何由于侵权（包括过失）、违约或其他任何原因产生的间接的、特殊的或附带性的损失或损害，不论这种损失或损害是否可以为我们合理预见；不论我们是否事
                    先被告知存在此种损失或损害的可能性。
                    10.2 如果您与Epay发生争议，您同意UMS（及其高级职员、董事、客服代表、合资公司、员工和供应商）免于承担因此类争议引起的或以任何形式与之关联的任何及所有
                    （实际的和间接的）补偿申请、要求和损害赔偿责任，无论其种类和性质如何。
                    10.3 UMS拥有独立先进的程序处理系统，但您须知任何系统在处理过程中都必须经过指令发出到接受的反应时间，在此时间内Epay享有责任免除。
                    10.4 UMS对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、天气原因、意外事故、罢工、劳动争议、暴乱、起义、骚乱、生产力或生
                    产资料不足、火灾、洪水、风暴、爆炸、战争、银行或其他合作方原因、数字资产市场崩溃、 政府行为、 司法或行政机关的命令、其他不在UMS可控范围内或无能力控制的行为
                    或第三方的原因而造成的不能服务或延迟服务，以及造成的您的损失，UMS不承担任何责任。
                    10.5 UMS不能保证本网站包含的全部信息、程序、文本等完全安全，不受任何病毒、木马等恶意程序的干扰和破坏，故您登陆、使用本网站任何服务或下载及使用该下载的任
                    何程序、信息、数据等均是您个人的决定并自行承担风险及可能产生的损失。
                    10.6 UMS对本网站中链接的任何第三方网站的任何信息、产品及业务及其他任何形式的不属于UMS的主体的内容等不做任何保证和承诺，您如果使用第三方网站提供的任何服务、
                    信息及产品等均为您个人决定且承担由此产生的一切责任。
                    10.7 您了解并同意，我们不对因下述任一情况而导致您的任何损害赔偿承担责任：
                    10.7.1 我们有合理的理由认为您的具体行为可能存在重大违法或违约情形。
                    10.7.2 我们有合理的理由认为您在本网站的行为涉嫌违法或不当。
                    10.7.3 通过本网站服务购买或获取任何数据、信息或进行交易等行为或替代行为产生的费用及损失。
                    10.7.4 您对本网站服务的误解。
                    10.7.5 任何非因我们的原因而引起的与本网站提供的服务有关的其它损失。
                    10.8 UMS并不放弃本协议中未提及的在法律适用的最大范围内UMS享有的限制、免除或抵销UMS损害赔偿责任的任何权利。
                    10.9您注册后即表示认可UMS按照本协议中规定的规则进行的任何操作，产生的任何风险均由您承担。
                    11. 协议的终止
                    11.1 UMS有权依据本协议约定取消您的会员资格及注销您的账户，本协议于账户注销之日终止。
                    11.2 UMS有权依据本协议约定终止本网站服务，本协议于本网站全部服务终止之日终止。
                    11.3 本协议终止后，您无权要求本网站继续向其提供任何服务或履行任何其他义务，包括但不限于要求本网站为您保留或向您披露其原本网站账号中的任何信息，向您或第三方转发任何其未曾阅读或发送过的信息等。
                    11.4 本协议的终止不影响守约方向违约方要求其他责任的承担。
                    
                    UMS合理使用规则
                    无论您使用UMS服务的目的如何，您个人均有责任在与使用UMS服务相关的所有活动中遵守所有适用的法律。此外，您还必须遵守本合理使用规则的条款。
                    禁止的行为
                    您不能使用UMS服务提供的链接至任何第三方平台从事以下活动：
                    违反任何法律、法规、法令或规定。
                    与涉及以下物品的交易相关：
                    (1)麻醉剂、类固醇、某些受监管药品或其他可能危及消费者安全的产品，
                    (2)吸毒用具，
                    (3)挑唆、促使、方便或指导他人参与非法活动的物品，
                    (4)被盗物品，包括数字和虚拟物品，
                    (5)煽动仇恨、暴力、种族偏见或利用犯罪活动牟利的物品，
                    (6)被视为淫秽的物品，
                    (7)侵犯或违反任何版权、商标权、宣传权或者隐私权或任何司法管辖区的法律所规定的任何其他所有权的物品，
                    (8)某些色情物品或服务，
                    (9)弹药、武器或某些武器部件或配件，或者受适用法律管制的某些武器或刀械。
                    与以下交易相关：
                    (1)显示第三方的个人信息时违反了适用法律，
                    (2)支持金字塔骗局、庞氏骗局、矩阵式骗局、其他“快速致富”计划或某些多级下线传销计划， 涉及销售被政府机构认定为很可能涉嫌欺诈的产品或服务。
                    违反涉及销售
                    (a)烟草产品或
                    (b)处方药物和仪器的适用法律或行业规则。参与赌博和/或任何其他涉及报名费和奖励的活动，包括（但不限于）赌场游戏、体育博彩、赛马或赛狗、彩票， 其他为赌博、
                    靠技巧取胜的游戏（不论是否由法律定义为彩票）提供便利的投机活动和抽奖活动，除非经营者事先获得了Epay的批准并且经营者和客户只能位 于法律允许进行此类活动的司法管辖区。
                    
                    
                    通过UMS系统进入Epay系统交易
                    用户进入账户即全面代表他的账户并负责他在系统中进行的所有收、付款。用户所有的收、付款是不可逆与不可撤销的。支付或收款完成后，除了法院判决交易可撤销，
                    客户无权要求撤销任何收、付款的行为。对于客户因系统故障，操作过失，未经授权的访问，盗窃，不可抗力，任何特殊，间接，与第三方（如兑换商）的行为或缺乏 而蒙受的
                    资金损失，UMS公司不会承担责任与附带或相应的损害赔偿。
                    更多信息
                    如需了解有关合理使用规则的更多信息，请访问我们的帮助中心。
                    违反合理使用规则
                    我们建议您直接向UMS报告违反本合理使用规则的情况。如果您对某种交易类型是否可能违反合理使用规则存在疑问，您可以向UMS合规部门发送电子邮件， 地址是：service@UMS.com。
                    免责声明
                    请注意：兑换商是通过Epay验证的商家，专门为世界各地用户提供当地的线下取款或者银行汇款服务。
                    UMS已经要求Epay尽力核实他们的每位兑换商与合作伙伴，但是请注意Epay网站所列示的所有兑换商均为独立于Epay之外独立个体。 Epay验证系统并不能保证每位成员的商业
                    行为正规无误。因此在进行评估Epay兑换商成员时，必须考虑其他指标。这些指标包括加入Epay时间，地位和信誉值等。 如您所知，Epay电子货币支付系统不支持退款功能，
                    所以对于在与兑换商进行交易时可能发生的资金损失我们并不承担责任。
                    反洗钱计划 （此条款适用于所有UMS会员）
                    洗钱包括通过使用不同的资金流动工具将非法获得的资金转换为合法资金。大多数国家都有严格的反洗钱政策，包括中国香港，UMS注册的地方。
                    UMS 反对任何形式的洗钱方式，也绝不参与任何相关行业的有关活动。UMS全体员工一致认为洗钱行为是对道德和伦理价值观非常严重的攻击， 我们将通过审核会员和帐户持有人，
                    与其共同合作打击这些活动，如有可疑的活动，将报告给相关法律部门。
                    UMS在积极加强打击洗黑钱政策的同时也愿意协助当地及国际合法机构的打击犯罪活动。UMS 不会处理任何直接或间接地参与任何类型的犯罪活动，包括洗钱。
                    若UMS 发现账户持有人不遵循相关条款和准则，将随时拒绝该持有人进入UMS系统或通过UMS系统进入其它第三方平台，或者怀疑该会员有欺诈，涉嫌洗钱及触犯法律等行为。
                    UMS将终止为该帐户及提供相关服务， 恕不另行通知。
                    UMS将严格遵守反洗钱计划，同时也会严格要求我们的顾客遵循以下指令。
                    要求我做什么？
                    您会发现这将要求您确认您的身份，提供个人材料信息。UMS 已提供了实施身份验证的专用系统，保证了您的UMS帐户和整个支付系统的安全。 此外，您的交易量上限直接取决于您身份验证的程度。
                    什么时间提供材料？
                    无论是新会员申请新账户或者是已经成为会员而账户已经使用了一段时间之后，您都有可能会被要求确认您的身份信息。尽管我们的验证系统已经尽可能最小化给您造成的不便，
                    但是验证程序还是需要几天时间。
                    为什么要这样做？
                    犯罪和恐怖主义需要现金。不法分子把贩毒，走私，抢劫得来的“赃款”洗净，他们需要用假身份或用无辜者的名字——比如您的名字。但这并不意味着您会受到怀疑。
                    关于您的身份的任何信息我们都会保持机密，这将有助于防止你的身份被不法利用。
                    该计划涉及到谁？
                    政府和从事金融服务的所有组织。 所有决心制止金融犯罪蔓延的人团结在一起，为打击国际金融犯罪尽自己的努力，保护我们的不受所有打击犯罪和恐怖主义的威胁和侵犯。&nbsp;
                    您的合作对于成功打击犯罪和恐怖主义是至关重要的。
                    法律要求我们：
                    要求我们确认身份和地址信息。
                    要求我们保持所有交易记录完整性，同时提供身份证明。
                    要求我们监控任何规模的反常或可疑的交易。
                </pre>
                <div>
                    <input type="button" value="창닫기" onClick="window.close()">
                </div>
            </div>
        </div>
      </div>
    </div>
    <%- include ./_inc/inc_scripts.ejs %>
  </body>
</html>
