<div class="modal center-modal fade" id="modal-center" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Angel MasterCard 충전 수수료</h5>
            <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="box">
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">충전방법</th>
                                <th scope="col">구분</th>
                                <th scope="col">충전 수수료</th>
                                <th scope="col">비고</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td rowspan='3' class="align-middle">현금</td>
                                <td>T + 0</td>
                                <td>4.5%</td>
                                <td>즉시 충전</td>
                            </tr>
                            <tr>
                                <td>T + 2 (현재)</td>
                                <td>3.0%</td>
                                <td>72시간 이내 충전</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer modal-footer-uniform">
            <button type="button" class="btn btn-bold btn-pure btn-secondary" data-dismiss="modal">닫기</button>
            <!--
            <button type="button" class="btn btn-bold btn-pure btn-primary float-right">Save changes</button>
            -->
        </div>
        </div>
    </div>
</div>